body {
  background: #000;
  color: #FFF;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/**************************************
  Date & Time
**************************************/
.dateTime {
  position: absolute;
  top: 40px;
  right: 40px;
}

.time {
  font-size: 90px;
  line-height: 70px;
  font-weight: 100;
  letter-spacing: 1px;
}

.date {
  font-size: 16px;
  margin: 5px 5px 0 0;
  text-transform: capitalize;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}

/**************************************
  Weather
**************************************/
.weather {
  position: absolute;
  top: 40px;
  left: 40px;
}

.weather__temp {
  font-size: 90px;
  line-height: 70px;
  font-weight: 100;
}

.weather__condition {
  font-size: 16px;
  margin: 10px 0 0 5px;
  text-transform: capitalize;
  text-align: left;
  font-weight: 300;
  letter-spacing: 1px;
}

.weather__forecast {
  font-size: 12px;
  margin: 5px 0 0 5px;
  text-align: left;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}
